# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
dist/
build/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# Package manager lock files (keep one based on your preference)
# yarn.lock
# package-lock.json